@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=UnifrakturCook:700');
@font-face {
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}
body {
    font-family: Arial, sans-serif;
    background-color: #dddddd;
    color: rgba(0,0,0,1);
}

body h3 {
    font-size: 7px ;
    color: #606060;
    padding: 0px;
    margin: 10px;    
}

div#interface {
    width: 900px;
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    padding: 10px; 
}


p {
    text-align: justify;
    text-indent: 20px;     
}

a {   
   text-decoration: none ;
   color: #606060;
}

a:hover {
    text-decoration: underline;
    color: #606060;
}

header#cabecalho img#icone {
    position:absolute;
    left: 805px ;/*original 780 px*/
    top: 12px  ;
}

header#cabecalho {
    border-bottom: 48.1px #cecece solid;
    height: 167px;  
    width: 910px;
}

header#cabecalho h1{
    font-family: 'UnifrakturCook', cursive;
    font-size: 70pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    padding: 0px;
    margin: 20px;
    margin-left: -50px;
    text-align: center;
}

header#cabecalho h2{
    font-family: 'Titillium Web', sans-serif;
    color: #888888 ;
    font-size: 15pt;
    padding: 0px;
    margin-top: 0px;
}

table#tabelaspec {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

table#tabelaspec td {
    border: 1px solid #606060;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 8pt;
}

table#tabelaspec tr.ce {
    color: #ffffff;
    background-color: #888888;
    vertical-align: top;
    font-weight: bold;
}


img.not01 {
    margin: 0px 10px 0px 0px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}

/* Formatação do Menu */


nav#menu h1 {
    display: block ;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase ;
    position: relative;
    top: 30px;
    left: -45px;/* original 300px */
}

nav#menu li {
    display: inline-block ;
    background-color: #cecece;
    padding: 15px;
    margin: -5px;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}

nav#menu li:hover {
    background-color: #606060;
}

nav#menu h1 {
   display: none;
}

nav#menu a {
    color: #000000;
    text-decoration: none ;
}

nav#menu a:hover {
    color: #ffffff;
    text-decoration: underline;
}

section#corpo {
    display: block;
    width: 500px;
    float: left;
    border-right: 1px solid #606060 ;
    padding-right: 15px;
}

article#noticia-principal h2 {
    font-size: 13pt ;
    color: #606060;
    background-color: #dddddd ;
    padding: 5px 0px 5px 10px;
    margin: -8px 0px 10px 0px;
}

header#cabecalho-artigo h1 {
    font-family: 'UnifrakturCook', cursive;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}

.direita {
    text-align: right;  
}

.nota {
    font-size: 5pt;
}


header#cabecalho-artigo h2 {
    font-size: 13pt;
    color: #cecece;
    background-color: #ffffff;
    margin: 0px;
}

aside#lateral {
    display: block;
    width: 350px;
    float: right;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 10px;    
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

aside#lateral h1{
    font-family: 'FonteLogo', sans-serif ;
    font-size: 20px ;
    color: #606060;
    margin-top: 0px ;
}

aside#lateral h2 {
    background-color: #606060;
    font-size: 13pt;
    color: #ffffff;
    padding: 5px;
}

footer#rodape {
    clear: both;
    border-top: 1px solid #606060;
}

footer#rodape p {
    text-align: center ;
}
